$especial: #3cb1f7;

header {
	.loguis {
		width: 150px;
	}
	.navbar {
		border: 0px;
		background: white;
	}
}

#mobile {
	background: url(../images/3.jpg);
	background-position:center;
	background-repeat:none;
	background-position:cover;
	color:white;
	.negro {
		background-color: transparentize(black, 0.5);
		padding-top:130px;
		padding-bottom:130px;
	}
	h1 {
		font-weight: lighter;
		margin-top: 20px;
		margin-bottom: 20px;
		text-shadow: 1px 1px #ccc;
	}
	.btn {
		padding:10px 30px;
		border-radius: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 10px;
		font-weight: bolder;
	}
	.btn1 {
		background-color: $especial;
	}
	.btn2 {
		background:none;
		border: 1px solid $especial;
		color: $especial;
	}
	p {
		font-weight: lighter;
	}
	.icotec {
		margin-right: 10px;
		margin-left: 20px;
	}
}
