$especial: #3cb1f7;
$fuente: #807675;
$fondo2: #f6f6f6;
$paddings: 130px 0px;


header {
	.loguis {
		width: 150px;
	}
	.navbar {
		border: 0px;
		background: white;
	}
}

.btn {
	padding:10px 30px;
	border-radius: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	font-weight: bolder;
}
.btn2 {
	background:none;
	border: 1px solid $especial;
	color: $especial;
	&:hover {
		color: darken($especial, 10%);
	}
}

#mobile {
	background: url(../images/3.jpg);
	background-position:center;
	background-repeat:none;
	background-position:cover;
	color:white;
	.negro {
		background-color: transparentize(black, 0.5);
		padding: $paddings;
	}
	h1 {
		font-weight: lighter;
		margin-top: 20px;
		margin-bottom: 20px;
		text-shadow: 1px 1px #ccc;
	}
	.btn1 {
		background-color: $especial;
		&:hover {
			background-color:darken($especial, 10%);
			color: white;
		}
	}	
	
	p {
		font-weight: lighter;
	}
	.icotec {
		margin-right: 10px;
		margin-left: 20px;
	}
}

#optimize {
	padding: $paddings;
	color: $fuente;
	font-weight: lighter;
	h2 {
		font-weight: lighter;
	}
	.img1{
		background: url(../images/2.jpg);
		background-position:center;
		background-repeat:none;
		background-size:cover;	
		height: 400px;
	}
	a {
		color: $especial;
		font-weight: bolder;
	}
}